# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


.agents/
data/
docs/
output/

test.py

*.csv
*.json